[submodule "framework"]
	path = framework
	url = https://github.com/wolmirgarbin/garbo-android-persistence.git
[submodule "sample"]
	path = sample
	url = https://github.com/wolmirgarbin/garbo-android-persistence.git
